@page
@model COMP003B.Lecture.activity2_1.Views.Profile.HobbiesModel
@{
	ViewData["Title"] = "Hobbies";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData</h2>
<ul>
	<li>Gaming</li>
	<li>Music</li>
	<li>Coding Projects</li>
</ul>

@await Html.PartialAsync("_Sidebar");
